
.videoPlayer{
  padding-left: 50px;
  padding-top: 50px;
  width:640px;
}
span {
    color:gray;
}
.video-text{
    padding-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .videoContainer{
    margin:10px;
  }
  .videoPlayer{
    width: 100%;
    padding-left: 0px;
    padding-top: 50px;
  }
  video{
    width: 100%;
  }
}